@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

html {
    background: #fcfcff;
    font-family: -apple-system, Roboto, sans-serif, serif;
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body,
div {
  margin: 0;
  border: 0 none;
  padding: 0;
}

h3 {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
}

h1 {
  margin: 0;
  font-size: 8em;
  line-height: 1;
}

@media screen and (max-width: 600px) {
    .h3 {
      font-size: 5vw !important;
    }
  
    .h1 {
      font-size: 20vw !important;
    }
  
    .p {
      font-size: 3.5vw !important;
    }
}

.bluehover {
    transition: all 0.25s ease-in-out;
}

.bluehover:hover {
    color: #ff6700 !important;
    transition: all 0.25s ease-in-out;
}

.lighttext {
  color: #faf9f9 !important;
}

.clickable {
  color: #0496ff;
  text-decoration: none;
  transition: all 0.25s;
}
.clickable:hover {
  color: #ff6700;
  font-weight: 700;
  cursor: pointer;
}