.textblock {
  padding-right: 50px;
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .content {
    align-items: center;
  }

  .content > * {
    max-width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textblock {
    padding-right: 0;
  }

  .textblock p {
    padding-right: 0;
    padding: 0 25px;
  }
  ul {
    display: block !important;
    grid-template-columns: none !important;
  }
}