.textblock {
  padding-right: 50px;
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textblock h3 {
    font-size: 5vw !important;
  }

  .textblock h1 {
    font-size: 20vw !important;
  }

  .textblock {
    padding-right: 0;
  }

  .textblock p, .textblock ul {
    padding-right: 0;
    padding: 0 25px;
  }
  ul {
    display: block !important;
    grid-template-columns: none !important;
  }
  li {
    font-size: 3.25vw !important;
    max-width: 100% !important;
  }
}