@media screen and (max-height: 400px) and (orientation: landscape) {
  .container {
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .socials {
    top: auto !important;
    right: auto !important;
    height: auto !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px 0;
  }
}