@keyframes Fader {
    0% {
      opacity: 0; 
    }
    25% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
}

.section {
  animation: Fader 1s ease-in-out 0s 1;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  scroll-snap-align: center;
}

@media screen and (max-width: 600px) {
  .section > div {
    align-items: center;
  }
}