@keyframes SlowFade {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 46px; 
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .navs {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navs {
    display: none;
  }
}

.logo, .navs {
  animation: SlowFade 0.5s ease-in-out 0s 1;
}

.logo > * {
  transition: fill 0.2s;
}

.logo .white {
  fill: #ccdbfd;
}

.logo .black {
  fill: black;
}

.logo .blue {
  fill: #0496ff;
}

.logo:hover .blue {
  fill: #ff6700;
}

.logo:hover .block {
  fill: #ff6700;
}